 # Capítulo 3
 
 a. Realizar todos los ejercicios propuestos del libro

# Example 3_7

In [74]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._

// EXAMPLE 3_7
val spark = SparkSession
    .builder()
    .appName("Capítulo3")
    .getOrCreate()
val schema = StructType(Array(StructField("Id",IntegerType,false),
                              StructField("First",StringType,false),
                              StructField("Last",StringType,false),
                              StructField("Url",StringType,false),
                              StructField("Published",StringType,false),
                              StructField("Hits",IntegerType,false),
                              StructField("Campaigns",ArrayType(StringType),false)))
val jsonFile = "/data/blogs.json"
val blogsDF = spark.read.schema(schema).json(jsonFile)

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@6f6feadd
schema: org.apache.spark.sql.types.StructType = StructType(StructField(Id,IntegerType,false), StructField(First,StringType,false), StructField(Last,StringType,false), StructField(Url,StringType,false), StructField(Published,StringType,false), StructField(Hits,IntegerType,false), StructField(Campaigns,ArrayType(StringType,true),false))
jsonFile: String = /data/blogs.json
blogsDF: org.apache.spark.sql.DataFrame = [Id: int, First: string ... 5 more fields]

In [75]:
blogsDF.columns
blogsDF.col("Id")
blogsDF.select(expr("Hits*2")).show(5)
blogsDF.withColumn("Big Hitters", (expr("Hits > 10000"))).show()
blogsDF.withColumn("AuthorsId", (concat(expr("First"), expr("Last"), expr("Id"))))
    .select(col("AuthorsId"))
    .show(4)

// same shit
blogsDF.select(expr("Hits")).show(2)
blogsDF.select(col("Hits")).show(2)
blogsDF.select($"Hits").show(2)
blogsDF.select("Hits").show(2)
blogsDF.select('Hits).show(2)

blogsDF.sort($"Id".desc).show()

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
+----------+
only showing top 5 rows

+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|Big Hitters|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      false|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      false|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      false|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|       true|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|       true|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|       true|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+

+-------------+
|    AuthorsId|
+-------------+
|  JulesDamji1|
| BrookeWenig2|
|    DennyLee3|
|TathagataDas4|
+-------------+
only showing top 4 rows

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

# San Francisco Fire Calls

In [76]:

val fireSFFile = "../data/sf-fire-calls.csv"

val fireSFschema = StructType(Array(StructField("CallNumber", IntegerType, true),
                                    StructField("UnitID", StringType, true),
                                    StructField("IncidentNumber", IntegerType, true),
                                    StructField("CallType", StringType, true),                  
                                    StructField("CallDate", StringType, true),      
                                    StructField("WatchDate", StringType, true),
                                    StructField("CallFinalDisposition", StringType, true),
                                    StructField("AvailableDtTm", StringType, true),
                                    StructField("Address", StringType, true),       
                                    StructField("City", StringType, true),       
                                    StructField("Zipcode", IntegerType, true),       
                                    StructField("Battalion", StringType, true),                 
                                    StructField("StationArea", StringType, true),       
                                    StructField("Box", StringType, true),       
                                    StructField("OriginalPriority", StringType, true),       
                                    StructField("Priority", StringType, true),       
                                    StructField("FinalPriority", IntegerType, true),       
                                    StructField("ALSUnit", BooleanType, true),       
                                    StructField("CallTypeGroup", StringType, true),
                                    StructField("NumAlarms", IntegerType, true),
                                    StructField("UnitType", StringType, true),
                                    StructField("UnitSequenceInCallDispatch", IntegerType, true),
                                    StructField("FirePreventionDistrict", StringType, true),
                                    StructField("SupervisorDistrict", StringType, true),
                                    StructField("Neighborhood", StringType, true),
                                    StructField("Location", StringType, true),
                                    StructField("RowID", StringType, true),
                                    StructField("Delay", FloatType, true)))

val fireDF =  spark.read
    .schema(fireSFschema)
    .option("header","true")
    .csv(fireSFFile)

// Cache el DataFrame ya que vamos a hacer varias operaciones
fireDF.cache()
fireDF.count()
fireDF.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: float (nullable = true)

fireSFFile: String = ../data/sf-fire-calls.csv
fireSFschema: org.apache.spark.sql.types.StructType = StructType(StructField(CallNumber,IntegerType,true), StructField(UnitID,StringType,true), StructField(IncidentNumber,IntegerType,true), StructField(CallType,StringType,true), StructField(CallDate,StringType,true), StructField(WatchDate,StringType,true), StructField(CallFinalDisposition,StringType,true), StructField(AvailableDtTm,StringType,true), StructField(Address,StringType,true), StructField(City,StringType,true), StructField(Zipcode,IntegerType,true), StructField(Battalion,StringType,true), StructField(StationArea,StringType,true), StructField(Box,StringType,true), StructField(OriginalPriority,StringType,true), StructField(Priority,StringType,true), StructField(FinalPriority,Intege...

In [77]:
val fewFireDF = fireDF
    .select("IncidentNumber","AvailableDtTm","CallType")
    .where($"CallType" =!= "Medical Incident")
fewFireDF.show(5, false)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

fewFireDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [IncidentNumber: int, AvailableDtTm: string ... 1 more field]

**Q-1) How many distinct types of calls were made to the Fire Department?**

To be sure, let's not count "null" strings in that column.

In [78]:
fireDF.select("CallType")
    .where($"CallType".isNotNull)
    .distinct()
    .count()

res64: Long = 30

**Q-2) What are distinct types of calls were made to the Fire Department?**

These are all the distinct type of call to the SF Fire Department

In [79]:
fireDF.select("CallType")
    .where($"CallType".isNotNull)
    .distinct()
    .show(10, false)

+-----------------------------------+
|CallType                           |
+-----------------------------------+
|Elevator / Escalator Rescue        |
|Marine Fire                        |
|Aircraft Emergency                 |
|Confined Space / Structure Collapse|
|Administrative                     |
|Alarms                             |
|Odor (Strange / Unknown)           |
|Citizen Assist / Service Call      |
|HazMat                             |
|Watercraft in Distress             |
+-----------------------------------+
only showing top 10 rows

**Q-3) Find out all response or delayed times greater than 5 mins?**

1. Rename the column Delay - > ReponseDelayedinMins
2. Returns a new DataFrame
3. Find out all calls where the response time to the fire site was delayed for more than 5 mins

In [80]:
val newFireDF = fireDF.withColumnRenamed("Delay","ResponseDelayedinMins")
newFireDF.select("ResponseDelayedinMins")
    .where($"ResponseDelayedinMins" > 5)
    .show(5, false)

+---------------------+
|ResponseDelayedinMins|
+---------------------+
|5.35                 |
|6.25                 |
|5.2                  |
|5.6                  |
|7.25                 |
+---------------------+
only showing top 5 rows

newFireDF: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

In [81]:
// Cambio el Type de las columnas para poder operar fácilmente con fechas "to_timestamp"
val fireTSDF = newFireDF
    .withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy")) // esto añade una columna con un nombre nuevo
    .drop("CallDate") // quitamos del DataFrame la columna de la que hemos creado la nueva columna
    .withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
    .drop("WatchDate") 
    .withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"), "MM/dd/yyyy hh:mm:ss a"))
    .drop("AvailableDtTm")

fireTSDF.cache()
fireTSDF.select("IncidentDate","OnWatchDate","AvailableDtTS").show(5,false)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

fireTSDF: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

**Q-4) What were the most common call types?**

List them in descending order

In [82]:
fireTSDF.select("CallType")
    .where($"CallType".isNotNull)
    .groupBy("CallType")
    .count()
    .orderBy(desc("count"))
    .show(10, false)

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

**Q-4a) What zip codes accounted for most common calls?**

Let's investigate what zip codes in San Francisco accounted for most fire calls and what type where they.

1. Filter out by CallType
2. Group them by CallType and Zip code
3. Count them and display them in descending order

It seems like the most common calls were all related to Medical Incident, and the two zip codes are 94102 and 94103.

In [83]:
fireTSDF.select("CallType","ZipCode")
    .where($"CallType".isNotNull)
    .groupBy("CallType","ZipCode")
    .count()
    .orderBy(desc("count"))
    .show(10, false)

+----------------+-------+-----+
|CallType        |ZipCode|count|
+----------------+-------+-----+
|Medical Incident|94102  |16130|
|Medical Incident|94103  |14775|
|Medical Incident|94110  |9995 |
|Medical Incident|94109  |9479 |
|Medical Incident|94124  |5885 |
|Medical Incident|94112  |5630 |
|Medical Incident|94115  |4785 |
|Medical Incident|94122  |4323 |
|Medical Incident|94107  |4284 |
|Medical Incident|94133  |3977 |
+----------------+-------+-----+
only showing top 10 rows

**Q-4b) What San Francisco neighborhoods are in the zip codes 94102 and 94103**

Let's find out the neighborhoods associated with these two zip codes. In all likelihood, these are some of the contested 
neighborhood with high reported crimes.

In [84]:
fireTSDF.select("Neighborhood","ZipCode")
    .where($"ZipCode" === 94102 || $"ZipCode" === 94103)
    .distinct()
    .show(10, false)

+------------------------------+-------+
|Neighborhood                  |ZipCode|
+------------------------------+-------+
|Potrero Hill                  |94103  |
|Western Addition              |94102  |
|Tenderloin                    |94102  |
|Nob Hill                      |94102  |
|Castro/Upper Market           |94103  |
|South of Market               |94102  |
|South of Market               |94103  |
|Hayes Valley                  |94103  |
|Financial District/South Beach|94102  |
|Mission Bay                   |94103  |
+------------------------------+-------+
only showing top 10 rows

**Q-5) What was the sum of all calls, average, min and max of the response times for calls?**

Let's use the built-in Spark SQL functions to compute the sum, avg, min, and max of few columns:

* Number of Total Alarms
* What were the min and max the delay in response time before the Fire Dept arrived at the scene of the call

In [85]:
fireTSDF
.select(sum("NumAlarms"), avg("ResponseDelayedinMins"), min("ResponseDelayedinMins"), max("ResponseDelayedinMins")).show()

+--------------+--------------------------+--------------------------+--------------------------+
|sum(NumAlarms)|avg(ResponseDelayedinMins)|min(ResponseDelayedinMins)|max(ResponseDelayedinMins)|
+--------------+--------------------------+--------------------------+--------------------------+
|        176170|         3.892364154521585|               0.016666668|                   1844.55|
+--------------+--------------------------+--------------------------+--------------------------+

**Q-6a) How many distinct years of data is in the CSV file?**

We can use the `year()` SQL Spark function off the Timestamp column data type IncidentDate.

In all, we have fire calls from years 2000-2018

In [86]:
fireTSDF.select(year($"IncidentDate"))
    .distinct()
    .orderBy(year($"IncidentDate"))
    .show()

+------------------+
|year(IncidentDate)|
+------------------+
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

**Q-6b) What week of the year in 2018 had the most fire calls?**

**Note**: Week 1 is the New Years' week and week 25 is the July 4 the week. Loads of fireworks, so it makes sense the higher number of calls.

In [87]:
fireTSDF.filter(year($"IncidentDate") === 2018)
    .groupBy(weekofyear($"IncidentDate"))
    .count()
    .orderBy(desc("count"))
    .show()

+------------------------+-----+
|weekofyear(IncidentDate)|count|
+------------------------+-----+
|                      22|  259|
|                      40|  255|
|                      43|  250|
|                      25|  249|
|                       1|  246|
|                      44|  244|
|                      32|  243|
|                      13|  243|
|                      11|  240|
|                       5|  236|
|                      18|  236|
|                      23|  235|
|                       2|  234|
|                      42|  234|
|                      31|  234|
|                      19|  233|
|                       8|  232|
|                      34|  232|
|                      10|  232|
|                      21|  231|
+------------------------+-----+
only showing top 20 rows

**Q-7) What neighborhoods in San Francisco had the worst response time in 2018?**

It appears that if you living in Presidio Heights, the Fire Dept arrived in less than 3 mins, while Mission Bay took more than 6 mins.

In [88]:
fireTSDF.select("Neighborhood","ResponseDelayedinMins")
    .where(year($"IncidentDate") === 2018)
    .show(10, false)

+------------------------------+---------------------+
|Neighborhood                  |ResponseDelayedinMins|
+------------------------------+---------------------+
|Presidio Heights              |2.8833334            |
|Mission Bay                   |6.3333335            |
|Chinatown                     |2.65                 |
|Financial District/South Beach|3.5333333            |
|Tenderloin                    |1.1                  |
|Bayview Hunters Point         |4.05                 |
|Inner Richmond                |2.5666666            |
|Inner Sunset                  |1.4                  |
|Sunset/Parkside               |2.6666667            |
|South of Market               |1.7666667            |
+------------------------------+---------------------+
only showing top 10 rows

In [89]:
fireTSDF.write.format("parquet").mode("overwrite").saveAsTable("FireServiceCalls")

val query1 = spark.sql("SELECT IncidentNumber, CallType FROM FireServiceCalls LIMIT 5").show()

# IoT Devices

In [90]:
// Utilización de case class para crear el schema del DataSet
case class DeviceIoTData(battery_level: Long, c02_level: Long, cca2: String, cca3: String, 
                         cn: String, device_id: Long, device_name: String, humidity: Long, 
                         ip: String, latitude: Double, lcd: String, longitude: Double, scale: String, 
                         temp: Long, timestamp: Long)

defined class DeviceIoTData

In [91]:
// Creo DataSet transformandolo al schema de la case class DeviceIoTData
val ds = spark.read.json("../data/iot_devices.json").as[DeviceIoTData]
ds.printSchema
ds.show(5,false)

root
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name          |humidity|ip           |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj |51      |68.161.225.1 |38.0    |green |-97.0    |Celsius|34  |1458444054093|
|7            |1473     |NO  |NOR |Norway       |2        |sensor-pad-2n2Pea    |70      |213.161.254.1|62.47   |red   |6.15     |Celsius|11  |1458444054119|
|2            |1556     |IT  |ITA |Italy        |3        |device-mac-36TWSKiT  |44      |88.36.5.1    |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|6            |1080     |US  |USA |United States|4        |sensor-pad-4mzWkz    |32      |66.39.173.154|44.06   |yellow|-121.32  |Celsius|28  |1458444054121|
|4            |931      |PH  |PHL |Philippines  |5        |therm-stick-5gimpUrBB|62      |203.82.41.9  |14.58   |green |120.97   |Celsius|25  |1458444054122|
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
only showing top 5 rows

ds: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]

In [92]:
val filterTempDS = ds.filter(d => {d.temp > 30 && d.humidity > 70})

filterTempDS: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]

In [93]:
case class DeviceTempByCountry(temp: Long, device_name: String, device_id: Long, cca3: String)

defined class DeviceTempByCountry

In [94]:
val dsTemp = ds
  .filter(d => {d.temp > 25})
  .map(d => (d.temp, d.device_name, d.device_id, d.cca3))
  .withColumnRenamed("_1", "temp")
  .withColumnRenamed("_2", "device_name")
  .withColumnRenamed("_3", "device_id")
  .withColumnRenamed("_4", "cca3").as[DeviceTempByCountry]

dsTemp: org.apache.spark.sql.Dataset[DeviceTempByCountry] = [temp: bigint, device_name: string ... 2 more fields]

In [95]:
ds.select($"temp", $"device_name", $"device_id", $"humidity", $"cca3", $"cn")
    .where("temp > 25")
    .show(5, false)

+----+---------------------+---------+--------+----+-------------+
|temp|device_name          |device_id|humidity|cca3|cn           |
+----+---------------------+---------+--------+----+-------------+
|34  |meter-gauge-1xbYRYcj |1        |51      |USA |United States|
|28  |sensor-pad-4mzWkz    |4        |32      |USA |United States|
|27  |sensor-pad-6al7RTAobR|6        |51      |USA |United States|
|27  |sensor-pad-8xUD6pzsQI|8        |35      |JPN |Japan        |
|26  |sensor-pad-10BsywSYUF|10       |56      |USA |United States|
+----+---------------------+---------+--------+----+-------------+
only showing top 5 rows

In [97]:
val dsTemp2 = ds
    .select($"temp", $"device_name", $"device_id", $"device_id", $"cca3")
    .where("temp > 25")
    .as[DeviceTempByCountry]

dsTemp2.show(5, false)

+----+---------------------+---------+---------+----+
|temp|device_name          |device_id|device_id|cca3|
+----+---------------------+---------+---------+----+
|34  |meter-gauge-1xbYRYcj |1        |1        |USA |
|28  |sensor-pad-4mzWkz    |4        |4        |USA |
|27  |sensor-pad-6al7RTAobR|6        |6        |USA |
|27  |sensor-pad-8xUD6pzsQI|8        |8        |JPN |
|26  |sensor-pad-10BsywSYUF|10       |10       |USA |
+----+---------------------+---------+---------+----+
only showing top 5 rows

dsTemp2: org.apache.spark.sql.Dataset[DeviceTempByCountry] = [temp: bigint, device_name: string ... 3 more fields]

In [98]:
val device = dsTemp.first()

**Q-1) How to detect failing devices with low battery below a threshold?**

Note: threshold level less than 8 are potential candidates

In [99]:
ds.select($"battery_level",$"c02_level",$"device_name")
    .where($"battery_level" < 8)
    .sort($"c02_level")
    .show(5,false)

+-------------+---------+---------------------------+
|battery_level|c02_level|device_name                |
+-------------+---------+---------------------------+
|1            |800      |sensor-pad-186516qVnGVN7jK |
|1            |800      |sensor-pad-190514UCQcNBzHH |
|7            |800      |sensor-pad-1864985T2DlE87SJ|
|4            |800      |meter-gauge-1855818YaYf    |
|3            |800      |sensor-pad-1886381NkVIS    |
+-------------+---------+---------------------------+
only showing top 5 rows

**Q-2) How to identify offending countries with high-levels of C02 emissions?**

Note: Any C02 levels above 1300 are potential violators of C02 emissions

Filter out c02_levels is eater than 1300, sort in descending order on C02_level. Note that this high-level domain specific language API reads like a SQL query

In [100]:
val newDS = ds
  .where($"c02_level" > 1300) // .filter(d=>{d.c02_level > 1300})
  .groupBy($"cn")
  .avg()
  .sort($"avg(c02_level)".desc)

newDS.show(10, false)

+------------------------------+------------------+--------------+--------------+-------------+-------------+------------------+---------+------------------+
|cn                            |avg(battery_level)|avg(c02_level)|avg(device_id)|avg(humidity)|avg(latitude)|avg(longitude)    |avg(temp)|avg(timestamp)    |
+------------------------------+------------------+--------------+--------------+-------------+-------------+------------------+---------+------------------+
|Solomon Islands               |3.0               |1588.0        |187433.0      |40.0         |-9.43        |159.95            |21.0     |1.458444060894E12 |
|Federated States of Micronesia|3.0               |1573.0        |78806.0       |55.0         |6.92         |158.25            |13.0     |1.45844405755E12  |
|Rwanda                        |2.5               |1560.5        |102085.0      |44.0         |-2.0         |30.0              |21.5     |1.458444058393E12 |
|British Indian Ocean Territory|7.0               |1560.0        |83930.0       |54.0         |-6.0         |71.5              |27.0     |1.458444057649E12 |
|Aruba                         |4.0               |1559.0        |99899.0       |84.0         |12.51        |-70.0             |19.5     |1.458444057927E12 |
|Isle of Man                   |5.0               |1548.0        |137958.5      |46.5         |54.23        |-4.57             |24.5     |1.4584440593755E12|
|Gambia                        |3.0               |1544.5        |34748.0       |66.0         |13.47        |-16.57            |16.0     |1.458444056277E12 |
|Lesotho                       |2.5               |1537.5        |74949.0       |72.0         |-29.41       |27.990000000000002|21.0     |1.458444057568E12 |
|Cuba                          |5.2               |1534.8        |66819.2       |42.0         |21.444       |-79.336           |26.6     |1.4584440572212E12|
|Gabon                         |8.0               |1523.0        |106953.0      |30.0         |0.38         |9.45              |28.0     |1.45844405847E12  |
+------------------------------+------------------+--------------+--------------+-------------+-------------+------------------+---------+------------------+
only showing top 10 rows

newDS: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [cn: string, avg(battery_level): double ... 7 more fields]

**Q-3) Can we sort and group country with average temperature, C02, and humidity?**

In [102]:
ds.where($"temp" > 25 && $"humidity" > 75) // filter(d=> {d.temp > 25 && d.humidity > 75})
  .select("temp", "humidity", "c02_level", "cn")
  .groupBy($"cn")
  .avg()
  .sort($"avg(temp)".desc,$"avg(humidity)".desc,$"avg(c02_level)".desc)
  .show(10,false)

+----------------------+---------+-------------+--------------+
|cn                    |avg(temp)|avg(humidity)|avg(c02_level)|
+----------------------+---------+-------------+--------------+
|Monaco                |34.0     |91.0         |1490.0        |
|Anguilla              |34.0     |83.0         |865.0         |
|British Virgin Islands|34.0     |81.0         |818.0         |
|Turkmenistan          |34.0     |80.0         |900.0         |
|Suriname              |34.0     |79.0         |1036.0        |
|Gibraltar             |34.0     |78.0         |1127.0        |
|Liechtenstein         |34.0     |76.0         |878.0         |
|Vanuatu               |33.5     |84.0         |1219.5        |
|Cameroon              |33.0     |91.0         |1409.0        |
|Fiji                  |33.0     |78.0         |987.0         |
+----------------------+---------+-------------+--------------+
only showing top 10 rows

**Q-4) Can we compute min, max values for temperature, C02, and humidity?**

In [104]:

ds.select(min("temp"), max("temp"), min("humidity"), max("humidity"), min("c02_level"), max("c02_level"), min("battery_level"), max("battery_level")).show()

+---------+---------+-------------+-------------+--------------+--------------+------------------+------------------+
|min(temp)|max(temp)|min(humidity)|max(humidity)|min(c02_level)|max(c02_level)|min(battery_level)|max(battery_level)|
+---------+---------+-------------+-------------+--------------+--------------+------------------+------------------+
|       10|       34|           25|           99|           800|          1599|                 0|                 9|
+---------+---------+-------------+-------------+--------------+--------------+------------------+------------------+

b. Leer el CSV del ejemplo del cap2 y obtener la estructura del schema dado por 
defecto.

In [105]:
val cap2DF = spark.read
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("../data/mnm_dataset.csv")
cap2DF.printSchema

root
 |-- State: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Count: integer (nullable = true)

cap2DF: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

c. Cuando se define un schema al definir un campo por ejemplo 
StructField('Delay', FloatType(), True) ¿qué significa el último 
parámetro Boolean? 

Si el campo puede ser null o no. En este caso si es nullable.

d. Dataset vs DataFrame (Scala). ¿En qué se diferencian a nivel de código? 
El DataSet nos permite utilizar tanto la API de los DataFrame como la de los RDD, permitiendo utilizar métodos como map, filter, etc

e. Utilizando el mismo ejemplo utilizado en el capítulo para guardar en parquet y 
guardar los datos en los formatos: 
    1. JSON 
    2. CSV (dándole otro nombre para evitar sobrescribir el fichero origen) 
    3. AVRO

In [127]:
// how to add avro??
ds.write.format("json").mode("overwrite").save("../data/saved/filejson")
ds.write.format("csv").mode("overwrite").save("../data/saved/filecsv")
cap2DF.write.format("avro").mode("overwrite").save("../data/saved/fileavro")

f. Revisar al guardar los ficheros (p.e. json, csv, etc) el número de ficheros 
creados, revisar su contenido para comprender (constatar) como se guardan. 
    1. A qué se debe que hayan más de un fichero? 
    2. ¿Cómo obtener el número de particiones de un DataFrame? 
    3. ¿Qué formas existen para modificar el número de particiones de un DataFrame? 
    4. Llevar a cabo el ejemplo modificando el número de particiones a 1 y revisar de nuevo el/los ficheros guardados.

In [111]:
ds.rdd.getNumPartitions

res90: Int = 8

In [126]:
val newds = ds.repartition(10) // RECOMENDADO PARA INCREMENTAR EL NÚMERO DE PARTICIONES
newds.rdd.getNumPartitions

newds: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]
res104: Int = 10

In [125]:
val newds2 = ds.coalesce(2) // RECOMENDADO PARA REDUCIR EL NÚMERO DE PARTICIONES
newds2.rdd.getNumPartitions

newds2: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]
res103: Int = 2

In [122]:
newds.write.format("json").mode("overwrite").save("../data/saved/filejson")
newds.write.format("csv").mode("overwrite").save("../data/saved/filecsv")